/* Created by: Rory Mackay
* Created on: Feb 2022
* This CSS file defines the style for more-style.html
*ICS2O-Unit1-04-HTML-CSS
*/

body {
  background-color: #f6fa05
}

h1 {
  background-color: #0400f5
  color: MediumSeaGreen
  padding: 40px;
  text-align: center;
}

p {
  background-color: #f5a83d
}